html {
	max-width: 640 px;
	margin: 0 auto;
	position: relative;
}

/*
*, *:before, *:after {
	box-sizing: inherit;
}
*/

body {
	text-align: justify;
	font-family: Consolas, monaco, monospace;
}

#content {
	margin: 100;
}

#header {
	background: grey;
	font-color: white;
}

#footer {
	background: grey;
	font-color: white;
}
