* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:		border-box;
	box-sizing:					border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

.content {
	width: 80em;
	margin: 20px auto;
}

.header {
	width 90em;
	margin: auto;
	background: LightGray;
	font-color: white;
}

.footer {
	width: 90em;
	margin: auto;
	background: LightGray;
	font-color: white;
}
