html {
}

/*
*, *:before, *:after {
	box-sizing: inherit;
}
*/

body {
	margin-left: 5%;
	max-width: 800 px;
	font-family: Consolas, monaco, monospace;
}

#content {
	margin: 100;
}

#header {
	background: LightGray;
	font-color: white;
}

#footer {
	background: LightGray;
	font-color: white;
}
