---
layout: default
title: Blog
---

<!--file needs ext .html, but inject content with Liquid-->
<!--List everything in _posts-->

<!-- Do fun picture mangling thing with three.js and Oulipo -->

<!-- <h2>Demos</h2>
<p>Attempts to port some Python glitch art projects to the web (using React). Prototype of Yale DH Lab project for book illustration collation (developed by Performant Software).</p>

<ul>
	<li>
		<a href="portfolio/">Portfolio</a> (under construction)
	</li>
	<li>
		<a href="collate-images/">Illustration Collation</a>
	</li>
</ul>
 -->
<!-- factored out all the collections to _includes -->


{% for collection in site.collections %}
<!-- site.collections seems to be defined in _config.yml -->

	{% assign name = collection.label | append: '.html' %}

	{% include {{ name }} %}

{% endfor %}

<h3>About me</h3>
<p>My name is Jinshuo Dong. I'm a PhD student in applied math (<a href="https://www.amcs.upenn.edu/">AMCS</a>) at the University of Pennsylvania, with the great fortune to be advised by <a href="https://www.cis.upenn.edu/~aaroth/">Aaron Roth</a>. Currently the main focus of my work is on differential privacy and its role in statistics and machine learning. I'm also generally interested in expanding my (hopefully in the future non-)negligible knowledge in the mathematics of information and computation.
</p>

<p>Feel free to write me at firstname@sas.upenn.edu. For publication and more information, see my <a href="https://www.math.upenn.edu/~jinshuo/">homepage</a>.</p>

<!-- See https://www.w3schools.com/howto/howto_css_thumbnail.asp -->
<!-- <a target= "_blank" href="assets/img/me.jpg">
	<img class="thumbnail" src="assets/img/me.jpg" alt="Jinshuo Dong Photo">
</a>
 -->