---
layout: default
title: Jinshuo Dong | Homepage
---

<!--file needs ext .html, but inject content with Liquid-->
<!--List everything in _posts-->

<h2>Welcome!</h2>
<p>I am a PhD student in Applied Math (AMCS) at the University of Pennsylvania.
</p>

<p>Feel free to write me at firstname at sas dot upenn dot edu. This is what I look like (click for full size image).</p>

<!-- See https://www.w3schools.com/howto/howto_css_thumbnail.asp -->
<a target= "_blank" href="assets/img/sl2z.png">
	<img class="thumbnail" src="assets/img/sl2z.png" alt="Stephen Krewson CS50 Staff Photo (2016)">
</a>

<!-- Do fun picture mangling thing with three.js and Oulipo -->

<!-- <h2>Demos</h2>
<p>Attempts to port some Python glitch art projects to the web (using React). Prototype of Yale DH Lab project for book illustration collation (developed by Performant Software).</p>

<ul>
	<li>
		<a href="portfolio/">Portfolio</a> (under construction)
	</li>
	<li>
		<a href="collate-images/">Illustration Collation</a>
	</li>
</ul>
 -->
<!-- factored out all the collections to _includes -->
{% for collection in site.collections %}

	{% assign name = collection.label | append: '.html' %}

	{% include {{ name }} %}

{% endfor %}
