---
layout: default
title: Stephen Krewson | Homepage
---

<!--file needs ext .html, but inject content with Liquid-->
<!--List everything in _posts-->

<h2>Welcome!</h2>
<p>I am a graduate student in English (PhD, 2019) and Computer Science (MS, 2018) at Yale University. This site contains my blog (mostly defunct) and live drafts of my current research projects. Feel free to write me at firstname dot lastname at yale dot edu.</p>

<h2>Research</h2>
<ul>
{% for article in site.articles %}
	<li>
		<a href="{{ article.url }}">{{ article.title }}</a> ({{ article.keywords | join: ", "}})
	</li>
{% endfor %}
</ul>


<h2>Demos</h2>
<p>Attempts to port some Python glitch art projects to the web (using React). Prototype of Yale DH Lab project for book illustration collation (developed by Performant Software).</p>

<ul>
	<li>
		<a href="portfolio/">Portfolio</a> (under construction)
	</li>
	<li>
		<a href="collate-images/">Illustration Collation</a>
	</li>
</ul>


<h2>Blog</h2>
<ul>
{% for post in site.posts %}
	<li>
		<a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string}})
	</li>
{% endfor %}
</ul>