---
layout: default
title: Blog of Jinshuo Dong
---

<!--file needs ext .html, but inject content with Liquid-->
<!--List everything in _posts-->

<h2>Welcome!</h2>
<p>I am a PhD student in Applied Math (AMCS) at the University of Pennsylvania, with the great fortune to be advised by Aaron Roth. Currently the main focus of my work is on differential privacy and its role in statistics and machine learning. I'm also generally interested in expanding my (hopefully in the future non-)negligible knowledge in the mathematics of information and computation.
</p>

<p>Feel free to write me at firstname@sas.upenn.edu. This is what I look like.</p>

<!-- See https://www.w3schools.com/howto/howto_css_thumbnail.asp -->
<a target= "_blank" href="assets/img/Carl_Friedrich_Gauß_signature.svg">
	<img class="thumbnail" src="assets/img/Carl_Friedrich_Gauß_signature.svg" alt="Stephen Krewson CS50 Staff Photo (2016)">
</a>

<!-- Do fun picture mangling thing with three.js and Oulipo -->

<!-- <h2>Demos</h2>
<p>Attempts to port some Python glitch art projects to the web (using React). Prototype of Yale DH Lab project for book illustration collation (developed by Performant Software).</p>

<ul>
	<li>
		<a href="portfolio/">Portfolio</a> (under construction)
	</li>
	<li>
		<a href="collate-images/">Illustration Collation</a>
	</li>
</ul>
 -->
<!-- factored out all the collections to _includes -->


{% for collection in site.collections %}
<!-- site.collections seems to be defined in _config.yml -->

	{% assign name = collection.label | append: '.html' %}

	{% include {{ name }} %}

{% endfor %}
