---
---

@import "{{ site.theme }}";

/* Knuth typeface from https://www.checkmyworking.com/cm-web-fonts/ */
@import url("../fonts/Computer-Modern/Serif/cmun-serif.css");
@import url("../fonts/Computer-Modern/Bright/cmun-bright.css");


.page-header {
	font-family: "Computer Modern Bright";
	background-color: #0f4d92;
	/* bit of a hack, since theme has default image */
	background-image: linear-gradient(to bottom, #0f4d92, #0f4d92);
}

.main-content {
	font-family: "Computer Modern Serif";
	/* see: https://lastmover.wordpress.com/2017/01/01/github-pages/ */
	h1,h2,h3,h4,h5,h6 {
		color: #2f4f4f;
	}
}
